html{
    height: 100vh;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .navbar a {
    position: relative; 
    text-decoration: none; 
    color: #fff; 
    transition: color 0.3s ease;
} */
.navbar-item:hover {
    background-color: transparent !important;
    color: var(--bulma-light, #ffffff) !important;
    text-decoration: none; 
}

.download {
    color: hsl(0, 0%, 21%)!important;
    transition: color 0.3s ease;
    border: none !important;
}
.download:hover {
    color: hsl(0, 0%, 21%)!important;
}
.download::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 0;
    height: 2px; 
    background-color: red; 
    transition: width 0.3s ease; 
}

.download:hover::after {
    width: 100%; 
}


.navbar a::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 0;
    height: 2px; 
    background-color: red; 
    transition: width 0.3s ease; 
}

.navbar a:hover::after {
    width: 100%; 
}


.navbar .navbar-item strong {
    font-family: 'Times New Roman', serif; 
}

/* .navbar-end .has-background-primary {
    transition: background-color 0.3s ease;
}

.navbar-end .has-background-primary:hover {
    background-color: #0056b3; 
} */


/* :root {
    --bulma-danger-h: 7deg;
    --bulma-danger-s: 82%;
    --bulma-danger-l: 51%;
    --bulma-danger: hsl(var(--bulma-danger-h), var(--bulma-danger-s), var(--bulma-danger-l));
  }
  
.has-background-danger {
    background-color: var(--bulma-danger) !important;
}

:root {
    --bulma-warning-h: 26deg;
    --bulma-warning-s: 74%;
    --bulma-warning-l: 71%;
    --bulma-warning: hsl(var(--bulma-warning-h), var(--bulma-warning-s), var(--bulma-warning-l));
}  
.has-background-warning {
    background-color: var(--bulma-warning) !important;
}  

.button.is-custom-danger {
    --bulma-danger-h: 15deg;
    --bulma-danger-s: 84%;
    --bulma-danger-l: 57%;
    background-color: hsl(var(--bulma-danger-h), var(--bulma-danger-s), var(--bulma-danger-l)) !important;
    border-color: hsl(var(--bulma-danger-h), var(--bulma-danger-s), var(--bulma-danger-l)) !important;
    color: white !important;
    transition: all 0.3s ease; 
}

.button.is-custom-danger:hover {
    --bulma-danger-l: 50%; 
    background-color: hsl(var(--bulma-danger-h), var(--bulma-danger-s), var(--bulma-danger-l)) !important;
    border-color: hsl(var(--bulma-danger-h), var(--bulma-danger-s), var(--bulma-danger-l)) !important;
    color: #ffffff !important; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
}

.navbar-item.has-text-white {
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.navbar-item.has-text-white:hover {
    background-color: var(--bulma-primary, #e9311a); 
    color: white; 
} */
.navbar-item[aria-current="page"] {
    color: white;
    font-weight: bold;
    position: relative; /* Enables pseudo-element positioning */
    text-decoration: none; /* Removes default underline */
}

.navbar-item[aria-current="page"]::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; /* Places the line at the bottom of the link */
    width: 100%; /* Line spans the full width */
    height: 2px; /* Thickness of the line */
    background-color: red; /* Line color */
}

#imageGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#imageGridStoryBoard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    padding: 8px;
}

.image {
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.is-active {
    display: flex;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.button.is-left {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.button.is-right {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}